* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header,
.hero,
footer {
    background-color: #1F2937;
}

/* header */
header {
    display: flex;
    align-items: center;
    padding: 20px 200px;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    margin-left: auto;
    list-style: none;
    display: flex;
    column-gap: 20px;
}

a {
    text-decoration: none;
}

header a,
.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

/* hero */

.hero {
    display: flex;
    padding: 100px 200px;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left {
    padding-right: 50px;
}

.left button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 35px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}

.placeholder {
    background-color: gray;
    color: #F9FAF8;
    width: 550px;
    height: 250px;
    flex: none;
}

/* random */
.random {
    text-align: center;
    padding-bottom: 100px;
}

.random h3{
    font-size: 36px;
    margin: 50px 0;
}

.random div {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 170px;
    row-gap: 5px;
    color: #1F2937;
}

.img {
    border: 4px solid #3882F6;
    width: 170px;
    height: 170px;
    border-radius: 15px;
}

/* quote */
.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

quote{
    width: 60%;
    display: flex;
    flex-direction: column;
}

quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

quote aside {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

/* sign-up */
section.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sign-up {
    background-color: #3882F6;
    display: flex;
    column-gap: 200px;
    padding: 50px 150px;
    border-radius: 10px;
    margin: 100px 0;
}

.sign-up h4 {
    font-size: 24px;
    color: white;
}

.sign-up p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up button {
    background-color: #3882F6;
    padding: 8px 35px;
    border-radius: 10px;
    border: white 2px solid;
    color: white;
    font-size: 18px;
}

/* footer */
footer {
    padding: 40px;
    text-align: center;
}

footer p {
    font-size: 18px;
    color: #E5E7EB;
}
